.feed {
    flex: 0.7;/*sidebar = 0.3 + 0.4 => .7 + .3(Widgetside) => 1 flex :D Cleaver ha ? */
    border-right: 1px solid var(--twitter-border);
    border-left: 1px solid var(--twitter-border);

    overflow-y: scroll;
}
/*the home component fixed header*/
.feed__header {
    position: sticky;/*to stay fixed on the top*/
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 15px 20px;
    border-bottom: 1px solid var(--twitter-border);

}

.feed__header > h1 {
    font-size: 20px;
    font-weight: 800;
  }
/* ************** To solve the scroll bar problem from youtub************** */
/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media only screen and (max-width: 1022px) {
    .feed {
      flex: 0.9;
    }
  }

  @media (max-width: 414px) {
    .feed{
      flex:0.9;
      border-right: none;

    }
  }
