 .tweet_box {
   display: flex;
    padding: 20px;
    border-bottom: 10px solid var(--twitter-background); 
    flex-direction: column;
 }

 .tweet_form {
    display: flex;
    margin-left: 20px;
    flex: 1;
 }

 .avatar {
     width: 60px !important;
     height: 60px !important;
 }

 .tweet_input {
     border: none;
     margin-left: 10px;
     flex:1;
     font-size: 20px;
     font-weight: 300;
 }
 .tweet_input:focus {
    border: none !important;
 }

  .logo_section {
    padding-left: 90px;
    flex: 1;
 }
 .tweetBox_logos {
     font-size: 25px;
     color: var(--twitter-color);
     margin-left: 10px;
     padding:5px;
     cursor: pointer;
 }

 .tweetBox_logos:hover {
   background-color: #e8f5fe;
   border-radius: 30px;
   color: var(--twitter-color);
   transition: color 200ms ease-out;
 }
 /************************* The tweet button  **************************/ 
 .tweet_btn {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
 
   padding: 5px 20px !important; 

    margin-left: 100px !important;
  }