.sidebar {
  border-right: 1px solid var(--twitter-border);
  flex: 0.2;
 
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
}

  .sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 25px !important;
    cursor: pointer;
    
   
  }
  .sidebar__Icon {
    font-weight: 100;
    font-size: 30px !important;
    margin-left: 10px;
   
  }

  ul {
      list-style: none;
      
  }
  .sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 30px !important;
    padding-right: 20px;
   
  }
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 200ms ease-out;
    
  }

  
  .sidebarOption > h1 {
    font-weight: 700;
    font-size: 20px;
   margin-left: 20px; 

  }

  @media only screen and (max-width: 1400px) {
    .sidebar {
      border-right: 1px solid var(--twitter-border);
      flex: 0.2;
      
    }
  
    .sidebarOption > h1 {
      display: none;
  
    }
  
    .sidebar__Icon {
      font-weight: 100;
      font-size: 30px !important;
    
     padding: 0;
    }
  
    
  }
  
  .sidebarOption > a:active {
    color: var(--twitter-color);
  }


 /************************* The tweet button  **************************/ 
.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

@media (max-width: 768px) {
  .sidebar__tweet {
    display: none !important;
   
    }

    .sidebar {
      border-right: 1px solid var(--twitter-border);
      flex: 0.1;
     
      margin-top: 10px;
      padding-left: 0;
      padding-right:0;
      
    }

}

@media (max-width: 414px) {
  .sidebar{
    display: none;
  }
}