.post {
    display: flex;
    align-items: flex-start;
    flex: 0.5;
    padding-inline: 16px;
    border-top: 1px solid var(--twitter-border);
    padding-bottom: 10px;

}

.post:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.post_text {
    padding: 5px;

    margin: 5px 0;
}

.post_body > img {
    border-radius: 30px;
    flex: 1;

}

.post_avatar{
    margin: 10px;
}

.post_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_header > p {
    margin-inline: 0px;
}

.post_body {
    padding: 10px;
    width: 100%;
}

.post_icons {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.post_footer {
    display: flex;
    flex :1;
    justify-content:space-between;
}

.post_icons:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 200ms ease-out;
  }

/********************************************************/
/*  @media (max-width: 768px) {
    .post {

    }
}*/
@media (max-width: 414px) {
    .post{
        border-right: none;
    }
}
