
body {
  --twitter-color: #4eb5f5;
  --twitter-background: #e6ecf0;
  --twitter-border: #b5cadd;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0;
  
  }
}

